body{
    
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
  }

.container{
    
    text-align: center;
}
.header{
    background-color: black;
    border: 5px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    color: white;
        
}
.service{
    background-color: ghostwhite;
    padding: 10px;
    margin: 30px;
}
.service-details{
    background-attachment: white;
}


.booking{
    background-color: var(--primary-color);
}

.booking__container form{
 max-width: 350px;
 margin: auto;
 display: grid ;
 gap: 2rem;
}

.input__group{
    display: grid;
    gap: 1rem;

}

.input__group input{
width: 100%;
font-size: 1rem;
padding: .5rem;
color: var(--white);
background-color: transparent;
border: none;
border-bottom: 1px solid var(--text-light);
border-radius:5px ;
}

.input__group input::placeholder{
    color: var(--text-light);

}
.style-type{
    height: 100%;
    object-fit: contain;
    box-shadow: 5px 5px 20px rgba(0, 0,0,0.2);

}
footer{
    text-align: center;
    padding: 30px 20px ;
    color: white;
    background-color: grey;
    margin: 30px;
}