body {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

.container {
  text-align: center;
}
.header {
  background-color: black;
  border: 5px solid white;
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
}


.service-details{
  display: grid;
  grid-template-columns: 0fr 0fr;
  gap: 10px 300px;
  padding: 80px;
}

.bookButton{
  padding: 8px 20px;
  margin: 20px;
  border: black;
  border-radius: 18px;
  display: flex;
}


ul{
  list-style: none;
}

.price-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}

.styleGallery h2{
  text-align: center;
}




.policy{
  text-align: center;
}


footer {
  text-align: center;
  padding: 30px 20px;
  color: white;
  background-color: grey;
  margin: 30px;
}
