body {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  background-color: #C19770;
}

.container {
  text-align: center;
}
.header {
  background-color: #A67A5B;
  border: 1px solid white;
  border-radius: 10px;
  padding-bottom: 10px;
  color: white;
}


.service-details{
  display: grid;
  grid-template-columns: 0fr 0fr;
  gap: 10px 300px;
  padding: 100px;
}

.bookButton{
  padding: 8px 20px;
  margin: 20px;
  border: black;
  border-radius: 18px;
  display: flex;
}


ul{
  list-style: none;
}

.price-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}

.styleGallery h2{
  text-align: center;
}

#gallery{
  padding: 40px 20px;
  text-align: center;
  background-color: #D5B895;
}

.styleGallery{
  position: relative;
  max-width: 800px;
  margin: 20px auto;
}

.gallery-wrapper{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.gallery-slide{
  flex: 0 0 auto;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-slide img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0, 0,0);
}

.gallery-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  color: #d4a24e;
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.gallery-arrow:hover{
  opacity: 2;
}
.gallery-arrow.prev{
  left: 10px;
}

.gallery-arrow.next{
  right: 10px;
}

.gallery-wrapper::-webkit-scrollbar{
  display: none;
}

.gallery-wrapper{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.policy{
  text-align: center;
}


footer {
  text-align: center;
  padding: 30px 20px;
  background-color: #faf0dc;
  margin: 1px;
}
