.container{
    
    text-align: center;
}
.header{
    background-color: aliceblue;
    border: 5px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    
}
.service{
    background-color: aqua;
    padding: 10px;
    margin: 30px;
}
.service-details{
    background-attachment: white;
}
footer{
    text-align: center;
    padding: 30px 20px ;
    color: white;
    background-color: black;
    margin: 30px;
}
///.style-type{
    margin: 40px;
    padding: 30px;
    max-width: 20px;
}